# Temporary Port Allocation
#   4500: fontend dev server (vite.config.ts)
#   4501: CV service WebSocket (this file)
#   4502: mayb backend here
VITE_API_URL=http://localhost:4502
VITE_CV_WS_URL=ws://localhost:4501
VITE_USE_MOCK_API=true
