MONGO_URI=mongodb+srv://zhouxinlong1911_db_user:YOUR_PASSWORD@hana-cluster.5npsed6.mongodb.net/hana?appName=hana-cluster
JWT_SECRET=replace_this_with_a_long_random_string_at_least_32_chars
PORT=4502
CLIENT_URL=http://localhost:4500
